@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: rgb(90, 165, 255);
  /* border: 1px solid red; */
}
.crdContainer {
  background: white;
  height: 90px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid black;
}
#crdLog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.btmSuit {
  display: flex;
  align-items: end;
}
